extends layout

block content
  div.search.jumbotron
    h1=title

    div.input-group.mb-3
      input(type="text" class="form-control input-field" id="x" placeholder="Hľadať" style="border: 1px solid rgba(100, 120, 255, 0.6);")
      
      div.input-group-append
        <button class="search-button" type="submit" onclick="createDB()">Hľadať</button> 